.container {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0 0rem 23%;
  width: 68%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.cardContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 auto 0.5rem auto;
  text-transform: uppercase;
  color: rgb(56, 145, 154);
  border-bottom: 3px solid orange;
}

@media (min-width: 100px) {
  .container {
    margin: 2rem auto;
  }
}

@media (min-width: 600px) {
  .container {
    margin: 2.5rem 0 0rem 7%;
    width: 93%;
  }
}

@media (min-width: 900px) {
  .container {
    margin: 2rem 0 0rem 8%;
    width: 92%;
  }
}

@media (min-width: 1100px) {
  .container {
    margin: 2rem 0 0rem 14%;
    width: 86%;
  }
}

@media (min-width: 1300px) {
  .container {
    margin: 2.5rem 0 0rem 19%;
    width: 76%;
  }
}

@media (min-width: 1500px) {
  .container {
    margin: 2.5rem 0 0rem 23%;
    width: 68%;
  }
}
