.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: inherit;
  margin: 2rem 0;
  border: none;
  align-items: center;
  box-shadow: 2px 5px 3px rgba(78, 78, 78, 0.75);
  border-left: 8px rgb(56, 145, 154) solid;
}

.legend {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgb(229, 149, 0);
}

@media (min-width: 100px) {
  .card {
    flex-direction: column-reverse;
    border-left: 4px rgb(56, 145, 154) solid;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .card {
    width: 96%;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-direction: row;
    border-left: 8px rgb(56, 145, 154) solid;
    width: 97%;
  }
}

@media (min-width: 1300px) {
  .card {
    width: 100%;
  }
}
