.iconContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.icon {
  position: relative;
  padding: 0;
  display: flex;
  margin: auto 0;
}

.icon a {
  display: block;
  position: relative;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 0.5rem;
  transition: 0.5s;
}

.iconImage {
  position: absolute;
  right: 16%;
  top: 17%;
  transition: all 0.2s ease-in-out;
}

.icon a:hover .iconImage {
  color: orange;
  transform: scale(1.1);
}

.icon a span {
  position: absolute;
  transition: transform 0.5s;
}

.icon a span:nth-child(1),
.icon a span:nth-child(3) {
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255);
}

.icon a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}

.icon a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.icon a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.icon a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.icon a span:nth-child(2),
.icon a span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: orange;
}

.icon a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}

.icon a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}

.icon a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}

.icon a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

@media (min-width: 100px) {
  .icon {
    margin-left: auto;
  }
  .icon a span {
    display: none;
  }
  .icon a {
    margin: 0;
    font-size: 1.4rem;
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 450px) {
  .icon a {
    font-size: 1.6rem;
  }
}

@media (min-width: 600px) {
  .icon a {
    font-size: 1.7rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (min-width: 900px) {
  .icon a {
    font-size: 1.8rem;
    width: 2.8rem;
    height: 2.8rem;
  }
}

@media (min-width: 1100px) {
  .icon a {
    margin: 0 0.3rem;
  }
  .icon a span {
    display: block;
  }
}

@media (min-width: 1300px) {
  .icon a {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem;
  }
}
